<div class="container">
  <button class='pull-right' ng-click='storyDetails()'>{{toggle}}</button>
  <div class="row" ng-show='story'>
    <h2>Add a Story</h2>
    <div class="col-md-6">
      <form class="form-horizontal" ng-submit='newStory()'>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" ng-model='title' class="form-control" id="title" placeholder="Title">
          </div>
        </div>
        <div class="form-group">
          <label for="link" class="col-sm-2 control-label">Link</label>
          <div class="col-sm-10">
            <input type="text" ng-model='link' class="form-control" id="link" placeholder="Link">
          </div>
        </div>
        <div class="form-group">
          <label for="imageurl" class="col-sm-2 control-label">Image Url</label>
          <div class="col-sm-10">
            <input type="text" ng-model='imageurl' class="form-control" id="imageurl" placeholder="Image Url">
          </div>
        </div>
        <div class="form-group">
          <label for="summary" class="col-sm-2 control-label">Summary</label>
          <div class="col-sm-10">
            <textarea class="form-control" ng-model='summary' rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">Link it up!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <h2>Today's news</h2>
    <div class="col-md-4" ng-repeat='story in allstories'>
      <img ng-src='{{story.imageurl}}' alt="" />
      <br>
      <a href="/show/{{story._id}}">{{story.title}}</a>
    </div>
  </div>
</div>
