<div class="container">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="{{imgurl}}" alt="" />
    </div>
    <div class="col-md-8">
      <p>
        {{summary}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Opinions</h2>
      <form ng-submit='newOpinion()'>
        <div class="form-group">
          <label for="opinions" class="control-label">Whats your opinion?</label>
          <textarea class="form-control" ng-model='opinion' rows="3"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Opine!</button>
        </div>
      </form>
      <table class='table' ng-repeat='opine in opinions'>
        <tr>
          <td>
            {{opine}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h2>Expert Analysis</h2>
      <ul ng-repeat='(key, value) in analysis'>
        <li>{{key}} ({{value}})</li>
      </ul>
    </div>
  </div>
</div>
<a href="/">Home</a>
